<div class="aw-layout-loading  js-loading-overlay">
  <div class="aw-layout-loading__container">
    <span class="aw-balls-spinner">Carregando...</span>
  </div>
</div>

<div class="aw-layout-page">

  <nav class="navbar  navbar-fixed-top  navbar-default bg-success js-sticky-reference" id="main-navbar" style="background-color: #ABC; border-color: #000;">
    <div class="container-fluid">
      <div class="w-100 navbar-header" style="font-size: 22px;">
        <ul class="nav navbar-nav">
          <li>
            <a href="#" class="js-sidebar-toggle"><i class="fa fa-bars"></i></a>
          </li>
        </ul>
      
        <a class="navbar-brand hidden-xs w-auto text-center" href="#">
          <span>
            <strong style="margin-left: 130%;font-size: 42px;">TecSeg</strong>
          </span>
        </a>
        
        <ul class="nav navbar-nav  navbar-right">
          <li>
            <a [routerLink]="['/']" routerLinkActive="router-link-active" ><em class="fa  fa-sign-out"></em></a>
          </li>
        </ul>
      </div>
    </div>
  </nav>

  <aside  class="aw-layout-sidebar  js-sidebar">
    <div class="aw-layout-sidebar__content">

    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">

        <li class="aw-menu__item is-active">
          <a routerLink=""><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        </li>

        <li class="aw-menu__item  is-active">
          <a href="#">
            <i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
            <i class="aw-menu__navigation-icon  fa"></i>
          </a>

          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consfuncionario">Funcionário</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Loja</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Função</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Topo de Exame</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Usuário</a></li>
          </ul>
        </li>

        <li class="aw-menu__item  is-active">
            <a href="#">
              <i class="fa  fa-fw  fa-bank"></i><span>Aso's</span>
              <i class="aw-menu__navigation-icon  fa"></i>
            </a>

            <ul class="aw-menu__list  aw-menu__list--sublist">
                <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consasoagenda">Agendamento</a></li>
              <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consasocontrole">Controle</a></li>
              <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Relatório</a></li>
            </ul>
          </li>

          <li class="aw-menu__item  is-active">
            <a href="#">
              <i class="fa  fa-fw  fa-bank"></i><span>Treinamento</span>
              <i class="aw-menu__navigation-icon  fa"></i>
            </a>

            <ul class="aw-menu__list  aw-menu__list--sublist">
              <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/constreinamento">Lista</a></li>
              <li class="aw-menu__item  aw-menu__item--link"><a routerLink="">Relatório</a></li>
            </ul>
          </li>


      </ul>
    </nav>

    </div>
  </aside>
<section class="aw-layout-content  js-content">
<router-outlet></router-outlet>
