<div class="aw-layout-loading  js-loading-overlay">
  <div class="aw-layout-loading__container">
    <span class="aw-balls-spinner">Carregando...</span>
  </div>
</div>

<div class="aw-layout-page">

  <nav class="navbar  navbar-fixed-top  navbar-default  js-sticky-reference" id="main-navbar">
    <div class="container-fluid">

      <div class="navbar-header">
        <a class="navbar-brand  hidden-xs" href="#">
          <span>
        <strong style="font-size: 22px;">TecSeg - Controle de ASO's</strong>
      </span>

        </a>

        <ul class="nav  navbar-nav">
          <li>
            <a href="#" class="js-sidebar-toggle"><i class="fa  fa-bars"></i></a>
          </li>
        </ul>
      </div>

      <ul class="nav navbar-nav  navbar-right">





        <li>
          <a href="index.jsf"><em class="fa  fa-sign-out"></em></a>
        </li>
      </ul>

    </div>
  </nav>

  <aside class="aw-layout-sidebar  js-sidebar">
    <div class="aw-layout-sidebar__content">

    <nav class="aw-menu  js-menu">
      <ul class="aw-menu__list">

        <li class="aw-menu__item">
          <a routerLink=""><i class="fa  fa-fw  fa-home"></i><span>Dashboard</span></a>
        </li>

        <li class="aw-menu__item  is-active">
          <a routerLink="/consfuncionario">
            <i class="fa  fa-fw  fa-file-text"></i><span>Cadastros</span>
            <i class="aw-menu__navigation-icon  fa"></i>
          </a>

          <ul class="aw-menu__list  aw-menu__list--sublist">
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consfuncionario">Funcionário</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consCliente">Fornecedores</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consCliente">Fase de Obras</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consCliente">Plano Contas</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consCliente">Produtos</a></li>
            <li class="aw-menu__item  aw-menu__item--link"><a routerLink="/consCliente">Obras</a></li>
          </ul>
        </li>



      </ul>
    </nav>

    </div>
  </aside>
<section class="aw-layout-content  js-content">
<router-outlet></router-outlet>
